<div class="container">
  <div>
    <h3 style="color: #35bc58;">Знайдені поїзди</h3>
    <div id="list-trains">
      <h4>Поїзди</h4>
    </div>
    <div id="from">
      <h4>Звідки</h4>
    </div>
    <div id="date-of-departure">
      <h4>Дата відправлення</h4>
    </div>
    <div id="where">
      <h4>Куди</h4>
    </div>
    <div id="date-of-arrival">
      <h4>Дата прибуття</h4>
    </div>
    <div id="train-btn">
      <h4>Вибрати</h4>
    </div>
  </div>
  <div class="button" style="margin-bottom: 20px;">
    <a href="tickets" class="btn btn-primary">Вибрати</a>
  </div>
</div>