<main>
  <div class="container">
    <div style="margin-bottom: 20px;">
      <a href="#" class="btn btn-default" style=" text-decoration: none;">В один кінець</a>
    </div>
    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <!--<input type="text" class="form-control" placeholder="Звідки" data-id="from-station" data-type="direction-input">-->
        <select class="form-control" id="from-list">
          <option>Вінниця</option>
          <option>Луцьк</option>
          <option>Дніпро</option>
          <option>Донецьк</option>
          <option>Житомир</option>
          <option>Ужгород</option>
          <option>Запоріжжя</option>
          <option>Івано-Франківськ</option>
          <option>Київ</option>
          <option>Кіровоград</option>
          <option>Луганськ(Сєвєродонецьк)</option>
          <option>Львів</option>
          <option>Миколаїв</option>
          <option>Одеса</option>
          <option>Полтава</option>
          <option>Рівне</option>
          <option>Суми</option>
          <option>Тернопіль</option>
          <option>Харків</option>
          <option>Херсон</option>
          <option>Хмельницький</option>
          <option>Черкаси</option>
          <option>Чернівці</option>
          <option>Чернігів</option>
          <option>Севастополь</option>
          <option>Сімферополь</option>
        </select>
      </div>
      <div class="form-group">
        <!--<input type="text" class="form-control" placeholder="Куди" data-id="from-station" data-type="direction-input">-->
        <select class="form-control" id="from-list">
          <option>Вінниця</option>
          <option>Луцьк</option>
          <option>Дніпро</option>
          <option>Донецьк</option>
          <option>Житомир</option>
          <option>Ужгород</option>
          <option>Запоріжжя</option>
          <option>Івано-Франківськ</option>
          <option>Київ</option>
          <option>Кіровоград</option>
          <option>Луганськ(Сєвєродонецьк)</option>
          <option>Львів</option>
          <option>Миколаїв</option>
          <option>Одеса</option>
          <option>Полтава</option>
          <option>Рівне</option>
          <option>Суми</option>
          <option>Тернопіль</option>
          <option>Харків</option>
          <option>Херсон</option>
          <option>Хмельницький</option>
          <option>Черкаси</option>
          <option>Чернівці</option>
          <option>Чернігів</option>
          <option>Севастополь</option>
          <option>Сімферополь</option>
        </select>
      </div>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Кількість пасажирів">
      </div>
    </form>
    <div class="button" style="margin-bottom: 20px;">
      <a href="trains#trains_list" class="btn btn-primary">Знайти</a>
    </div>
  </div>
</main>
