<main>
  <div class="container">
    <div style="margin-bottom: 20px;">
      <a href="#" class="btn btn-default" style=" text-decoration: none;">В один кінець</a>
    </div>
    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Звідки" data-id="from-station" data-type="direction-input">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Куди" data-id="from-station" data-type="direction-input">
      </div>
      <div class="form-group">
        <div class='input-group date' id='datetimepicker2'>
          <input type='text' class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Кількість пасажирів">
      </div>
    </form>
    <div class="button" style="margin-bottom: 20px;">
      <a href="flights/index" class="btn btn-primary">Знайти</a>
    </div>
  </div>
</main>
