<div class="container">
  <h4>Вкажіть інформацію про пасажирів</h4>
  <div id="block1">
    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Прізвище" data-id="from-station" data-type="direction-input">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ім’я" data-id="from-station" data-type="direction-input">
      </div>
      <div class="list">
        <input type="radio" name="people" value="old">Дорослий<Br>
        <input type="radio" name="people" value="child">Дитина<Br>
        <input type="radio" name="people" value="stydent">Студент<Br>
      </div>
    </form>
  </div>
  <div id="block2">
    <h5>Вибрать кількість квитків</h5>
    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Кількість квитків" data-id="from-station" data-type="direction-input">
      </div>
    </form>
  </div>
  <div  style="margin-top: 20px;">
    <button type="button" class="btn btn-success" data-action="search">Оформити</button>
  </div>
</div>