<div class="container">
  <h4>Вкажіть інформацію про пасажирів</h4>
  <div >
    <form class="form-inline" style="margin-bottom: 20px;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Прізвище">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Ім’я">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Серія та №студ. квитка">
      </div>
      <div class="list">
        <input type="radio" name="people" value="old">Дорослий<Br>
        <input type="radio" name="people" value="child">Дитина<Br>
        <input type="radio" name="people" value="stydent">Студент<Br>
      </div>
    </form>
  </div>
  <div  style="margin-top: 20px;">
    <button type="button" class="btn btn-success" data-action="search">Оформити</button>
  </div>
</div>