<div class="container">
  <div>
    <div>
      <div id="prev">jlfjskfj</div>
      <div id="form">
        <div class="current-flight" style="margin-top: 15px;">
          <h4>Рейс:</h4>
        </div>
        <div class="current-train" style="margin-top: 15px;">
          <h4> Поїзд:</h4>
        </div>
      </div>
      <div id="data">
        <div class="current-flight" style="margin-top: 15px;">
          <h4>Рейс:</h4></div>
        <div class="current-train" style="margin-top: 15px;">
          <h4> Поїзд:</h4>
        </div>
      </div>
      <div id="next">sjfljskfj</div>
    </div>

    <div>
      <div class="select">
        <div id="carriages">
          <div class="form-group">
            <label style="margin-top: 55px;" for="carriages-list"></label>
            <h5 style="font-weight: bold">Виберіть вагон:</h5>
            <select class="form-control" id="carriages-list">
              <option>купейний</option>
              <option>плацкарт</option>
            </select>
            <label style="margin-top: 15px;"  for="carriages-list">Номер вагону:</label>
            <select class="form-control" id="carriages-list">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
            </select>
          </div>
        </div>
        <div id="places">
          <div class="form-group">
            <label style="margin-top: 15px;"  for="places-list">Виберіть місце:</label>
            <div>
              <select class="form-control" id="places-list">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
                <option>32</option>
                <option>33</option>
                <option>34</option>
                <option>35</option>
                <option>36</option>
              </select>
            </div>
          </div>
        </div>
      </div>



      <div class="person">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Номер паспорта">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="ПІБ">
        </div>
      </div>
    </div>
  </div>
  <div class="button-ticket" style="margin-bottom: 20px; margin-top: 20px;">
    <a href="tickets/1" class="btn btn-primary">Оформити</a>
  </div>
</div>