// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list{
  margin-top: 20px;
}

#block1{
  float: left;
  width: 50%;
}
#block2{
  float: left;
  width: 50%;
}
/*=======================*/
#prev{
  float: left;
  width: 25%;
  color: white;
}
#form{
  float: left;
  width: 25%;
}
#data{
  float: left;
  width: 25%;
}
#next{
  float: left;
  width: 25%;
  color: white;
}
//.select {
//
//  #carriages {
//    text-align: center;
//    float: left;
//    width: 40%;
//    .form-control {
//      width: 40%;
//    }
//  }
//  #places {
//    text-align: center;
//    float: left;
//    width: 50%;
//    .form-control {
//      width: 30%;
//    }
//  }
//}
//.person {
//  .form-control {
//    width: 30%;
//  }
//}
/*===================*/
.button-ticket a{
  color: white;
  text-decoration: none;
}

.fieldset1{
  border: 2px solid;
  width: 100%;
}
#list-ticket{
  float: left;
  width: 50%;
  text-align: center;

}
#list-ticket2{
  float: left;
  width: 50%;
  text-align: left;
}
.block3{
  float: left;
  width: 50%;
}
.block4{
  float: left;
  width: 50%;
}