// Place all the styles related to the Trains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.button a{
  color: white;
  text-decoration: none;
}
/*============================*/
/*trains_list*/
#list-trains{
  text-align: center;
  float: left;
  width: 16%;
}
#from{
  text-align: center;
  float: left;
  width: 16%;
}
#date-of-departure{
  text-align: center;
  float: left;
  width: 18%;
}
#where{
  text-align: center;
  float: left;
  width: 18%;
}
#date-of-arrival{
  text-align: center;
  float: left;
  width: 16%;
}
#train-btn{
  text-align: center;
  float: left;
  width: 16%;
}